@model  DeliveryTrackingApp.Models.User.ViewDto;

@{
    ViewBag.Title = "Tạo người dùng mới";
}

<h2>Tạo thông báo mới</h2>

@using (Html.BeginForm("UserCreate", "User", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label>Tên người dùng</label>
        @Html.TextAreaFor(m => m.Username, new { @class = "form-control", rows = 3 })
        @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label>Họ Tên</label>
        @Html.TextAreaFor(m => m.FullName, new { @class = "form-control", rows = 3 })
        @Html.ValidationMessageFor(m => m.FullName, "", new { @class = "text-danger" })
    </div>
    <button type="submit" class="btn btn-success">Lưu</button>
    <a href="@Url.Action("UserPage", "User")" class="btn btn-secondary">Quay lại</a>
}

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <div>@error.ErrorMessage</div>
        }
    </div>
}